{% extends 'base.html' %}
{% block content %}

<!-- Header-->
       <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Log In</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Ingresar a tu cuenta</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br><br><br><br>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <input type="text" class="form-control" name="username" placeholder="Ingrese su usuario">
                            </div>
                            <br><br>
                            <div class="mb-3">
                              <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                          </form>
                          <br><br><br><br><br>
                          <p>No tenes una cuenta todavia? registrate aca:</p>
                          <a class="nav-link" href="{% url 'register' %}">Registrate</a>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}