        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">Plano Ya ecommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>

                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="{% url 'home' %}">Todas</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'CASA' %}"> Casa </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'DUPLEX' %}"> Duplex </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'TRIPLEX' %}"> Triplex </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'MANSION' %}"> Mansion </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'CHALET' %}"> Chalet </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'CABAÑA' %}"> Cabaña </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'PEQUEÑA' %}"> Pequeña </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'ESQUINA' %}"> Esquina </a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'EDIFICIO' %}"> Edificio </a></li>
                            </ul>
                        </li>

                    
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Contacto</a></li>

                    </ul>
                    <form class="d-flex">
                        <a href="{% url 'cartSummary' %}" class="btn btn-outline-dark" > <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartquantity">
                                {{ cart|length }}
                            </span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>