{% extends 'base.html' %}
{% block content %}

<!-- Header-->
       <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenido a nuestra pagina</p>
                </div>
            </div>
        </header>

        <!-- procesar_pago_mp.html -->

        <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="{{ preference_id }}"></script>

  

{% endblock %}