{% extends 'base.html' %}
    
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Plano Ya</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Elegi tu casa ideal <br> paga como mas te convenga <br> contacta con el mejor arquitecto para tu proyecto <br> todo a un solo unos de clics en esta pagina</p>
                </div>
            </div>
        </header>
        
        <br><br><br><br><br><br><br>

{% endblock %}