{% extends 'base.html' %}
{% block content %}

<!-- Header-->
       <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Bienvenido a nuestra pagina</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify-content-left">

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed ultrices ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum elit, convallis sit amet sapien ac, dapibus mattis justo. Aenean egestas et nisi eu ultricies. Maecenas blandit magna nisi, eu consequat ligula luctus ut. Integer tempus nec urna sed malesuada. Donec porttitor tortor viverra mauris ornare elementum. Donec ex purus, placerat at feugiat id, euismod sit amet nisl. Ut aliquet ex eros, sed elementum turpis pretium vel. Vivamus sit amet consequat dolor. Pellentesque enim massa, pellentesque ut libero vitae, mollis ullamcorper erat. Nullam sed nunc odio.

                            Proin aliquet lacus ut eleifend dictum. 
                            <br>
                            Sed a lectus bibendum, bibendum nisi sed, dictum lorem. Sed varius faucibus risus a iaculis. Mauris eget condimentum orci, nec euismod lacus. Nullam convallis sapien quis aliquam euismod. Cras at lacinia risus, eu faucibus nisi. Ut ultricies nisl ac augue viverra, id scelerisque orci vestibulum. Morbi auctor, odio ullamcorper molestie congue, nunc augue sollicitudin urna, vitae ullamcorper massa enim eu lacus. Fusce nec malesuada justo. Nullam aliquet est ultricies turpis posuere bibendum. Quisque quis iaculis nisi, at lobortis massa. Aenean imperdiet nunc nec nisl facilisis, eget auctor dolor luctus. Aenean gravida neque a blandit commodo. Sed aliquet felis quis lacus interdum, in lobortis quam imperdiet. Morbi ultrices sagittis nulla ut lacinia.

                            <br>
                            Sed est enim, cursus non sollicitudin ut, cursus nec lacus. Ut in condimentum justo, eu ultrices eros. Sed eget rhoncus metus. Nam nec dapibus quam. Phasellus fermentum consectetur odio, rhoncus finibus nibh placerat a. Sed mollis purus at ipsum scelerisque aliquam. In id sem sit amet ipsum placerat porta. Morbi et libero nisl. Cras bibendum libero ut cursus porta. Donec consequat urna ac ex pulvinar tristique. Vestibulum fringilla id dui vitae fringilla. Morbi eget dictum est, eget maximus augue. Curabitur ac mi eu lacus sollicitudin vehicula in eu justo. Nunc id eros auctor, fermentum dui sed, tempor nibh.

                            <br>
                            Proin eget ipsum sed nulla interdum mattis. Mauris vel commodo elit. Nunc eget mi ante. Ut quam quam, suscipit sit amet faucibus consequat, euismod non neque. Suspendisse tristique nibh sed nunc lobortis vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat vulputate lobortis. Mauris viverra fringilla neque, eget aliquam erat tristique quis. Phasellus tincidunt ante nec eros ultricies, et posuere felis laoreet. Aliquam erat volutpat. Aliquam tincidunt sapien vitae dui iaculis vestibulum. Duis et lectus sit amet sem facilisis sollicitudin. Morbi egestas laoreet nisi.

                            <br>
                            Donec porttitor fermentum enim, sit amet ullamcorper nisl ultrices ut. Sed commodo scelerisque metus. In dolor purus, posuere in lacus semper, congue venenatis felis. Quisque tincidunt dignissim nisi, vitae malesuada leo. Nam congue tellus vitae fermentum faucibus. Proin vitae neque nibh. Proin ut malesuada quam, id rutrum tellus. Donec sagittis fermentum ligula at rutrum. 
                        </p>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}