{% extends 'base.html' %}
    
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Plano Ya</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Elegi tu casa ideal <br> paga como mas te convenga <br> contacta con el mejor arquitecto para tu proyecto <br> todo a un solo unos clics de distancia</p>
                </div>
            </div>
        </header>

        <!-- listar_planos.html -->
        <form method="get" action="{% url 'products' %}">  
            <label for="categoria">Categoría:</label>
            <select name="categoria">
                <option value="">Todas</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
    
            
            
            <label for="ancho_terreno">Ancho del terreno:</label>
            <input type="number" name="ancho_terreno">

            <label for="metros_cuadrados">Metros cuadrados:</label>
            <input type="number" name="metros_cuadrados">

            <label for="dormitorios">Dormitorios:</label>
            <input type="number" name="dormitorios">

            <label for="pisos">Pisos:</label>
            <input type="number" name="pisos">

            <input type="submit" value="Filtrar">
        </form>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                    {% for product in products %}

                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <br>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <br>
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">Ver Plano</a></div>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>
        </section>
       
{% endblock %}